extends base
block content 
    a(href="/overview")
        img.guitar-back(src='/icons/guitar-button.png')
    
    main.guitar
        h1= `${guitar.manufacturer} ${guitar.name}`
        h2= `First released: ${guitar.introduced}`
        img.guitar-image(src=`${guitar.img}` alt=`${guitar.manufacturer} ${guitar.name}`)
    
        h3 Technical Stuff
        table(border="1")
            tr 
                th(colspan="2") Stats
            tr 
                th Body 
                td= guitar.body.join(', ')
            tr
                th Neck
                td= guitar.neck.join(', ')
            tr
                th Fretboard
                td= guitar.fretboard.join(', ')
            tr
                th Scale 
                td= `${guitar.scale}-inches`
            tr
                th Bridge
                td= `${guitar.bridge}`
            tr
                th Pickups
                td= `${guitar.pickups}`
        h3.heading__description Description
        p.guitar__description= guitar.desc
